h1 {
    font-size: 100px;
    font-weight: medium;
    text-align: left;
    font-family: 'Helvetica';
}

h2 {
    font-size: 60px;
    font-weight: lighter;
    text-align: left;
    font-family: 'Century Gothic';
}

h3 {
    font-size: 36px;
    font-weight: lighter;
    text-align: left;
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
p {
    font-size: 24px;
    font-family: 'Courier New';
    text-wrap: wrap;
    text-align: left;
    line-height: 150%;
}

p2 {
    font-size: 14px;
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
    width: 100%;
    text-align: left;
    padding-left: 60px;
}

.site-description {
    padding-top: 5px;
}

.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    text-decoration: none;
    padding-top: 50px;
}

.sidebar a {
    padding: 10px 10px 10px 60px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 10;
    color: #000000;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
}

.sidebar a:hover {
    color:#758efd;
}

.sidebar m1 {
    padding-left: 60px;
    text-decoration: none;
    font-size: 48px;
    font-weight: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-items {
    padding-top: 20px;
}

.heading {
    padding-top: 25px;
    padding-left: 10%;
    margin-right: 10%;
}

.image-gallery {
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.image-gallery div {
    columns: 3;
    gap: 1.25rem;
    padding-top: 1.25rem;
}

.image-gallery img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom:  1.25rem;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0;
    background-color: #f2f5f8;
    overflow-x: hidden;
    text-decoration: none;
    padding-top: 50px;
}
.page-content {
    padding-left: 2.5rem;
    height: 100%;
    padding-right: 2.5rem;
    margin-left: 20%;
}



.word-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    text-wrap: balance;
}

.column {
    float: left;
    width: 40%;
    padding-left: 10%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 10%;
   }
   
   .container img {
     max-width: 100%;
     max-height: 100%;
   }

   .wideimg {
    display: grid; 
    column-gap: 5px;
    margin-left: 10%;
    margin-right: 10%;
   }

   .wideimg img {
    max-width: 100%;
    max-height: 100%;
   }

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  ol li {
    font-family: 'Courier New';
    font-size: 24px;
  }

  /* On screens that are less than 1080p, make the sidebar into a topbar */
@media screen and (max-width: 1919px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: -50px;
      margin-top: -2.5%;
    }
    
    .sidebar a {
        float: left;
        margin-top: -0.5%;
        font-size: 18px;
    }

    .sidebar .sidebar-items{
        padding-top: -10px;
        padding-left: -60px;
        padding-right: 10px;
        margin-left: 40%;
        margin-top: -1.5%;
    }

    .page-content {
        margin-left: 0%;
        margin-top: 2%
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 48px;
        margin-top: -2%;
    }
  }
  
  /* On screens that are less than 1200px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 1000px) {
    .sidebar a {
      align-items: center;
      float: none;
    }

    .image-responsive {
        width: 280%;
        margin-top: 12rem;
    }
  }